<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.diziito.stock">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="true" android:icon="@mipmap/vicon" android:label="Dhaka Stock Eschange" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name="com.diziito.stock.FirstPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.diziito.stock.AboutAppActivity" android:parentActivityName="com.diziito.stock.FirstPageActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.diziito.stock.FirstPageActivity"/>
        </activity>
        <activity android:name="com.diziito.stock.StockViewActivity" android:parentActivityName="com.diziito.stock.FirstPageActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.diziito.stock.FirstPageActivity"/>
        </activity>
        <activity android:name="com.diziito.stock.WebView" android:parentActivityName="com.diziito.stock.StockViewActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.diziito.stock.StockViewActivity"/>
        </activity>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>